{% extends 'base.html.twig' %}

{% block title %}LE PETIT JARDINIER !{% endblock %}

{% block body %}

<div class="example-wrapper flex flex-col text-center mt-40">
    <h1 class="font-bold text-white text-5xl underline">Le petit jardinier ! </h1>

        <a class="font-bold text-black text-3xl ">Des professionnels à votre service<a href="{{ 'C:/Users/mcris/OneDrive/Bureau/projet/src/Controller/AccueilController.php'|file_link(0) }}"></a>
        <a class="font-bold text-blue-500 text-2xl " href="{{ path('app_choix') }}">Obtenir un devis en ligne </a>
        <img class="w-72 ml-[51rem] mt-20" src="{{ asset ('media/tomlejardinier-pres-3.jpg')}}" alt="Image du jardinier">
</div>
{% endblock %}
